.App {
  text-align: center;
  
}
.home{
  /* background-color: blueviolet; */
  background-image: linear-gradient(90deg, skyblue,rgb(40, 81, 134));
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.title{
  text-align: center;
  text-shadow: 0 3px;
  background-image: linear-gradient(90deg, skyblue,rgb(40, 81, 134));
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
